/* semantic color variables for this project */
:root {
  --color-text: #384a5c;
  --color-heading: #333;

  --color-checkbox-checked: #862583;
  --color-btn: #862583;

  --color-border: #b2b2b2;

  --color-background: #f5f8fa;
  --color-table-row: #f5f8fa;

  --color-elements-background: #fff;
  --color-box-shadow: rgba(178, 178, 178, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
*:focus {
  outline: 1px solid var(--color-border);
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: var(--color-text);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: var(--color-background);
}
