@import './base.css';

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: 15px auto;
}
@media (min-width: 1000px) {
  #app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 15px 15px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: start;
    width: 1180px;
    margin: 0 20px;
  }
}
